.hidden
{
    display: none;
}

#inventoryList
{
    
    list-style: none;

}

input[type="checkbox"]
{
    
    
    //float:left;
}

#inventoryList li
{
    
    //float:left;
}

.liquid
{
    background: green;
    
}

.slot
{
    background: blue;
    width: 100%;
    clear: both;
}

.slot_number
{
    background: red;
    
}

#lists
{
    float:left;
}

#onHand
{
    height: 200px;
}

#remove
{
    background: purple;
    width: 100px;
    height:100px;
    float: right;
}

#addLiquidForm
{
    clear: both;
}

#removeBtn
{
    
    position:relative;
    left:30px;

}

ul
{
    list-style: none;
}
